# Sets CPU type. Valid types are (probably) 68000, 68010, 68020, 68EC020, 68030, 68EC030, 68040, 68EC040, 68LC040 and some STTTT thing.
cpu 68020
platform amiga

loopcycles 100


# Map 512KB kickstart ROM to default offset.
map type=rom address=0xF80000 size=0x80000 file=Kickstart_v3.1_r40.070.rom ovl=0 id=kickstart

# Comment out the line above and uncomment the line below to automatically copy the ROM contents to Pi RAM if the file isn't found
#map type=rom address=0xF80000 size=0x80000 file=kickstart.rom ovl=1 id=kickstart autodump_mem

# "Blackhole" the detected slow RAM on the Amiga 600. This enables maprom to work without using specifically kick v40.63
# DO NOT ENABLE THIS UNLESS YOU ARE USING THE PISTORM ON AN AMIGA 600.
#map type=register address=0xC00000 size=0x80000 id=blackhole_slow_a600

# Want to map an extended ROM, such as CDTV or CD32?
#map type=rom address=0xF00000 size=0x80000 file=cdtv.rom id=extended

# Map 128MB of Fast RAM at 0x8000000, also known as 32-bit Fast RAM or CPU local Fast RAM.
# Only supported properly on select Kickstarts, such as 3.1+ for Amiga 1200, 3000 and 4000.

#map type=ram address=0x08000000 size=128M id=cpu_slot_ram

# Map 128MB of Z3 Fast. Note that the address here is not actually used, as it gets auto-assigned by Kickstart itself.
# Enabling Z3 fast requires at least Kickstart 2.0.
# If for some reason you need more than 128MB, you can change the size=128M to a valid supported Z3 PIC size,
# like 256M, 512M, 1024M, or add additional map lines.
map type=ram address=0x10000000 size=256M id=z3_autoconf_fast

# Max 8MB of Z2 Fast can be mapped due to addressing space limitations, but for instance 2+4MB can be chained to leave 2MB for something else.
# Do not map Zorro II Fast RAM unless you absolutely need it, as Z2 address space is very limited.
# Cases where you may need Zorro II Fast may include emulating a 68000, 68010 or 68EC020, and/or if you are using Kickstart 1.3.

#map type=ram address=0x200000 size=8M id=z2_autoconf_fast
#map type=ram address=0x200000 size=2M id=z2_autoconf_fast
#map type=ram address=0x400000 size=4M id=z2_autoconf_fast

# This is fake Chip RAM, do not use on a real Amiga.

#map type=ram address=0x0 size=2M

