cpu 68030
platform amiga 1200


map type=rom address=0xF80000 size=0x80000 file=../Amiga/kick/kick.a1200.46.143 ovl=0 id=kickstart autodump_mem

map type=ram address=0x08000000 size=128M id=cpu_slot_ram
map type=ram address=0x00100000 size=1M id=chipram_extra

#map type=ram address=0x200000 size=2M id=z2_autoconf_fast

map type=ram address=0x00200000 size=4M id=z2_autoconf_fast

map type=ram address=0x10000000 size=128M id=z3_autoconf_fast
map type=ram address=0x18000000 size=128M id=z3_autoconf_fast
#map type=ram address=0x20000000 size=128M id=z3_autoconf_fast
#map type=ram address=0x28000000 size=128M id=z3_autoconf_fast
#map type=ram addrtss=0x30000000 size=128M id=z3_autoconf_fast

# NOTE: Gayle emulation is currently non-functional. Do not enable this.
#map type=register address=0xD80000 size=0x40000



# this is said not to work on anything other than a600
#map type=register address=0xC00000 size=0x80000 id=blackhole_slow_a600

setvar piscsi
setvar piscsi1 ../AmigaOS4.1.hdf
setvar piscsi0 ../KernelPiStormBench040.hdf
# this is piscsi version of piscsi64 remote boot , cdrom devices
#setvar piscsi5 ../AmigaOS_Install.hdf
#setvar piscsi3 ./src/platforms/amiga/pistorm.hdf
setvar piscsi6 cdrom:../AmigaOS4.1.iso
#setvar piscsi6 cdrom:../aros-amiga-m68k.iso
#ClassicInstallCD-53.71.iso
setvar leds 1


# these devices do not work with piscsi64 enabled
setvar z3bus


# ZORRO Z3 BUS
setvar z3bus-demo 1
setvar zorro-serial 1
setvar zorro-rng 1
setvar zorro-pissa 1


# ZORRO PPC CPU
#setvar zorro-ppc

# ZORRO PPC ACCEL - ALIAS Of zorro-ppc
setvar ppc-accel





# this is pistorm cpu FC and arb features. these work!
setvar enable_fc cpld
setvar enable_bus_arb on
setvar queue 1
setvar batch_bits 4096




#setvar rtg64 yes

# -----------------------------------------------------------------------------
# Platform Features
# -----------------------------------------------------------------------------


map type=register address=0xDC0000 size=0x10000
setvar enable_rtc_emulation 1

# Uncomment to enable PiRTG
setvar rtg

setvar rtg-width 1920
setvar rtg-height 1080
#setvar rtg-width  3840
#setvar rtg-height 2160

setvar pi-net
setvar pistorm_root /opt/pistorm64
setvar pistorm_a314 /opt/pistorm64/a314
setvar pistorm_data /opt/pistorm64/data
setvar a314_shared /opt/pistorm64/data/a314-shared
setvar a314_conf /opt/pistorm64/a314/a314d.conf
setvar a314_fs_conf /opt/pistorm64/a314/a314fs.conf
#
setvar a314

keyboard k nograb noautoconnect
mouse /dev/input/mice m noautoconnect
