cpu 68040
#cpu 68020 
#cpu 68040
jit m68xkcpu
platform amiga 500
#platform amiga 1200
# PiStorm backend selector (default: kernel)
#pistorm kernel
pistorm userspace
# userspace experiment knobs (only when `pistorm userspace` is selected):
pistorm-gpclk-src 5
pistorm-gpclk-div 6
pistorm-mmio-wr-stretch 0
pistorm-mmio-rd-stretch 0

loopcycles 1024

#affinity cpu=2,ipl=3,keyboard=1,mouse=1
#rtprio cpu=95,ipl=60,keyboard=50,mouse=50


# 3.2 Kickstart



#map type=rom address=0xF80000 size=0x80000 file=../kick.rom ovl=0 id=kickstart

# 3.1 Kickstart
map type=rom address=0xF80000 size=0x80000 file=../Amiga/kick/kick.a1200.46.143 ovl=0 id=kickstart autodump_file

# 3.1 Kickstart - ACTIVE (disabled when using onboard Kickstart)
#map type=rom address=0xF80000 size=0x80000 file=../Kickstart-v3.1-r40.068.rom ovl=0 id=kickstart

# NOTE: bare numeric sizes are parsed as bytes; use M/K suffixes for RAM sizes.
#map type=ram address=0x08000000 size=128M id=cpu_slot_ram
#map type=ram address=0x00100000 size=1M id=chipram_extra

# Map 128MB of Fast RAM at 0x8000000, also known as 32-bit Fast RAM or CPU local Fast RAM.
# Only supported properly on select Kickstarts, such as 3.1+ for Amiga 1200, 3000 and 4000.
#map type=ram address=0x08000000 size=128M id=cpu_slot_ram
# Map 128MB of Z3 Fast. Note that the address here is not actually used, as it gets auto-assigned by Kickstart itself.
# Enabling Z3 fast requires at least Kickstart 2.0.
# If for some reason you need more than 128MB, you can change the size=128M to a valid supported Z3 PIC size,
# like 256M, 512M, 1024M, or add additional map lines.
#map type=ram address=0x10000000 size=128M id=z3_autoconf_fast
# Max 8MB of Z2 Fast can be mapped due to addressing space limitations, but for instance 2+4MB can be chained to leave 2MB for something else.
# Do not map Zorro II Fast RAM unless you absolutely need it, as Z2 address space is very limited.
# Cases where you may need Zorro II Fast may include emulating a 68000, 68010 or 68EC020, and/or if you are using Kickstart 1.3.
#map type=ram address=0x200000 size=8M id=z2_autoconf_fast
#map type=ram address=0x200000 size=2M id=z2_autoconf_fast
#map type=ram address=0x200000 size=4M id=z2_autoconf_fast

#map type=ram address=0x10000000 size=128M id=z3_autoconf_fast
#map type=ram address=0x18000000 size=128M id=z3_autoconf_fast
#map type=ram address=0x20000000 size=128M id=z3_autoconf_fast
#map type=ram address=0x28000000 size=128M id=z3_autoconf_fast
#map type=ram address=0x30000000 size=128M id=z3_autoconf_fast

# NOTE: Gayle emulation is currently non-functional. Do not enable this.
#map type=register address=0xD80000 size=0x40000



# this is said not to work on anything other than a600
#map type=register address=0xC00000 size=0x80000 id=blackhole_slow_a600

setvar piscsi
setvar piscsi2 ../KernelPiStormBench.hdf
#setvar piscsi1 ../OS32.hdf
#
# this is piscsi version of piscsi64 remote boot , cdrom devices
#setvar piscsi5 ../AmigaOS_Install.hdf
#setvar piscsi3 ./src/platforms/amiga/pistorm.hdf

# Optional Janus utility disk (create via tools/create-janus-utils-hdf.sh)
#setvar piscsi4 ./src/platforms/amiga/janus-utils.hdf
#setvar piscsi6 cdrom:../AmigaOS4.1.iso

#setvar piscsi6 cdrom:../aros-amiga-m68k.iso
#ClassicInstallCD-53.71.iso

setvar leds 1


# these devices do not work with piscsi64 enabled
#setvar z3bus


# ZORRO Z3 BUS
#setvar z3bus-demo 1
#setvar zorro-serial 1
#setvar zorro-rng 1
#setvar zorro-pissa 1


# ZORRO PPC CPU - before enabing these you need to grab git@github.com:akadata/pistorm64-uae-ppc.so.git 
# and copy the uae-ppc.so to /usr/local/bin and handle ld.so.conf 
#setvar zorro-ppc

# ZORRO PPC ACCEL - ALIAS Of zorro-ppc
#setvar ppc-accel





# this is pistorm cpu FC and arb features. these work!
#setvar enable_fc cpld
#setvar enable_bus_arb on
#setvar queue 1
#setvar batch_bits 16384




#setvar rtg64 yes
#
# -----------------------------------------------------------------------------
# Platform Features
# -----------------------------------------------------------------------------


map type=register address=0xDC0000 size=0x10000
setvar enable_rtc_emulation 1

# Uncomment to enable PiRTG
setvar rtg

setvar rtg-width 1920
setvar rtg-height 1080
#setvar rtg-width  3840
#setvar rtg-height 2160

#setvar pi-net

# A314 full service stack (uses /opt install paths).
#setvar pistorm_root /opt/pistorm64
#setvar pistorm_a314 /opt/pistorm64/a314
#setvar pistorm_data /opt/pistorm64/data
#setvar a314_shared /opt/pistorm64/data/a314-shared
#setvar a314_conf /opt/pistorm64/a314/a314d.conf
#setvar a314_fs_conf /opt/pistorm64/a314/a314fs.conf
#setvar a314_picmd_conf /opt/pistorm64/a314/picmd.conf
#setvar a314_disk_conf /opt/pistorm64/a314/disk.conf
#setvar a314_video_conf /opt/pistorm64/a314/videoplayer.conf
#setvar a314

# For full A314 HID/remote-mouse testing, keep emulator input forwarding off.
# Re-enable these only if you specifically want host input forwarded by emulator.
#keyboard k nograb noautoconnect
#mouse /dev/input/mice m noautoconnect
