cpu 68030
platform amiga
map type=rom address=0xF80000 size=0x80000 file=DiagROMV2/diagrom.rom ovl=0 id=kickstart autodump_mem
#map type=ram address=0x10000000 size=256M id=z3_autoconf_fast
map type=ram address=0x200000 size=8M id=z2_autoconf_fast
#map type=ram address=0x200000 size=2M id=z2_autoconf_fast
#map type=ram address=0x00000000 size=0x100000 id=chipram

loopcycles 200
#setvar piscsi64
#setvar piscsi64_1 /opt/Amiga/hdf/KernelPiStormBench.hdf

