cpu 68030
platform amiga
map type=rom address=0xF80000 size=0x80000 file=../Amiga/kick/Kickstart-v3.1-r40.068.rom ovl=0 id=kickstart autodump_mem
map type=ram address=0x90000000 size=256M id=z3_autoconf_fast
map type=ram address=0x00400000 size=4M   id=z2_autoconf_fast
map type=ram address=0x00100000 size=1M id=chipram_extra


loopcycles 200
setvar piscsi64

#setvar piscsi64_1 ../Amiga/LC060new.img
#setvar piscsi64_1 ../KernelPiStormBench.hdf
setvar piscsi64_2 /opt/Amiga/hdf/KernelPiStormBench.hdf
#setvar piscsi64_2 disk:/dev/disk/by-id/usb-Kingston_DataTraveler_3.0_60A44C3FAC2DBE21898A22E2-0:0-part2,mode=rw
#setvar piscsi64_2 disk:/dev/disk/by-id/usb-Generic_STORAGE_DEVICE_000000001532-0:0-part2,mode=rw
#setvar piscsi64_5 remote:1234567890@172.16.0.2:4964/sdcard,mode=rw,blocksize=4096
setvar piscsi64_4 ./src/platforms/amiga/pistorm.hdf
setvar piscsi64_3 cdrom:../AmigaOS39.iso
#setvar piscsi64_5 disk:/dev/disk/by-id/usb-Kingston_DataTraveler_3.0_60A44C3FAC2DBE21898A22E2-0:0,mode=rw
#setvar piscsi64_3 remote:12345678@[2a02:8012:bc57:1:2:c0de:baba:babe]:4964/remotewb,mode=rw
#setvar piscsi64_14 remote:1234@172.16.0.2:4965/awstest,mode=rw 

setvar net64
setvar net64_tap tap0
setvar net64_mac 02:50:12:34:56:78
setvar net64_promisc 0
setvar net64_queue_depth 32
setvar net64_link_mbps 1000 
setvar net64_duplex full



# -----------------------------------------------------------------------------
# Platform Features
# -----------------------------------------------------------------------------
# Uncommenting the below this long comment DISABLES RTC emulation, letting
# reads/writes through to the RTC memory range.
# There is no need to uncomment it unless you are either using a CDTV, you want
# to use a physical RTC source present inside the computer, such as on a trapdoor
# memory expansion board, or if you have a physical A314 intalled, since the
# A314 uses the RTC address range to communicate with the Amiga, and enabling RTC
# emulation blocks this communication completely.
# DO NOT UNCOMMENT THE LINE BELOW UNLESS YOU'VE READ AND UNDERSTOOD THE FIVE
# LINES ABOVE THIS ONE.

map type=register address=0xDC0000 size=0x10000
setvar enable_rtc_emulation 1

# Uncomment to enable RTG
setvar rtg

setvar rtg-width 0
setvar rtg-height 0



setvar rtg-width 1280
setvar rtg-height 720
#setvar pi-net
setvar pistorm_root /opt/pistorm64
setvar pistorm_a314 /opt/pistorm64/a314
setvar pistorm_data /opt/pistorm64/data
setvar a314_shared /opt/pistorm64/data/a314-shared
setvar a314_conf /opt/pistorm64/a314/a314d.conf
setvar a314_fs_conf /opt/pistorm64/a314/a314fs.conf

setvar a314
