cpu 68030
platform amiga
map type=rom address=0xF80000 size=0x80000 file=../Amiga/kick/Kickstart-v3.1-r40.068.rom ovl=0 id=kickstart autodump_mem
map type=ram address=0x90000000 size=64M id=z3_autoconf_fast
map type=ram address=0x00400000 size=6M   id=z2_autoconf_fast


loopcycles 200
#setvar piscsi 
#setvar piscsi0 /opt/Amiga/hdf/Workbench8GB.hdf
setvar piscsi64
setvar piscsi64_1 /opt/Amiga/hdf/KernelPiStormBench.hdf
