# -----------------------------------------------------------------------------
# CPU and Platform
# -----------------------------------------------------------------------------
# Sets CPU type. Valid types are (probably) 68000, 68010, 68020, 68EC020, 68030,
# 68EC030, 68040, 68EC040, 68LC040 and some STTTT thing.

#cpu 68040
#setvar no-pistorm-dev

# Set the platform to Amiga to enable all the registers and stuff.
platform amiga


# -----------------------------------------------------------------------------
# Kickstart / ROMs
# -----------------------------------------------------------------------------
# Map 512KB kickstart ROM to default offset.
#map type=rom address=0xF80000 size=0x80000 file=../Amiga/kick/Kickstart-v3.1-r40.068.rom ovl=0 id=kickstart autodump_mem

# Comment out the line above and uncomment the line below to automatically copy
# the ROM contents to Pi RAM if the file isn't found
#map type=rom address=0xF80000 size=0x80000 file=kickstart.rom ovl=1 id=kickstart autodump_mem

# "Blackhole" the detected slow RAM on the Amiga 600. This enables maprom to
# work without using specifically kick v40.63
# DO NOT ENABLE THIS UNLESS YOU ARE USING THE PISTORM ON AN AMIGA 600.
#map type=register address=0xC00000 size=0x80000 id=blackhole_slow_a600

# Want to map an extended ROM, such as CDTV or CD32?
#map type=rom address=0xF00000 size=0x80000 file=cdtv.rom id=extended

loopcycles 200

setvar pistorm_root /opt/pistorm64
# or set each explicitly:
setvar pistorm_a314 /opt/pistorm64/a314
setvar pistorm_data /opt/pistorm64/data
setvar a314_shared /opt/pistorm64/data/a314-shared

setvar a314_conf /opt/pistorm64/a314/a314d.conf
setvar a314_fs_conf /opt/pistorm64/a314/a314fs.conf
# Uncomment to enable A314 emulation
