[Unit]
Description=PiStorm emulator
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=smalley
ExecStart=/home/smalley/pistorm64/emulator
WorkingDirectory=/home/smalley/pistorm64

[Install]
WantedBy=multi-user.target

