[Unit]
Description=PiStorm emulator
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=smalley
#LimitCORE=0
ExecStart=%h/pistorm64/emulator
WorkingDirectory=%h/pistorm64
Nice=-10
IOSchedulingClass=1
IOSchedulingPriority=2
CPUAffinity=1-3
OOMScoreAdjust=-1000
Environment=SDL_VIDEODRIVER=drm
Environment=SDL_FBDEV=/dev/fb0

[Install]
WantedBy=multi-user.target

